# Emacs backup files
*~

# Copyrighted papers
papers/nanolett2020.pdf
papers/jacs2024.pdf
papers/valzelli-et-al-2024-large-scale-simulations-of-photosynthetic-antenna-systems-interplay-of-cooperativity-and-disorder_withSM.pdf
